<h2>Edit posts</h2>

<form action="/skinlog/<%= skinlog[0]["id"] %>" method="POST">
    <input type="hidden" name="_method" value="patch">
    <label for="">Skin concern:</label>
    <input type="text" name="skin_concern" value="<%= skinlog[0]["skin_concern"] %>">

    <label for="">Day no.</label>
    <input type="text" name="day_no" value="<%= skinlog[0]["day_no"] %>">

    <label for="">Image URL</label>
    <input type="text" name="image_url" value="<%= skinlog[0]["image_url"] %>">

    <label for="">Product used</label>
    <input type="text" name="product" value="<%= skinlog[0]["products"] %>">
    
    <label for="">Details</label>
    <input type="text" name="details" value="<%= skinlog[0]["details"] %>">

    
<button>Update posts</button>

</form>

