
<%#ctrl + shift + r%>

<h2><%= error %></h2>


<% skinlog.each do |skin_condition|%>
    <h2>Skin condition: <%= skin_condition["skin_concern"] %></h2>
    <h2>Day number: <%= skin_condition["day_no"] %></h2>
        <input name="date_time" type="hidden" value="<%=Time.now.strftime("%d-%m-%y")%>">
    <img src="<%= skin_condition["image_url"] %>" alt="">
    <h2>Products applied: <%= skin_condition["products"] %></h2>
    
    <h2>Description: <%= skin_condition["description"] %></h2>
    
    <%if logged_in?%>
        <h1><%= current_user()['first_name']%>'s skincare journey lolo </h1>
        <br><a href="/skinlog/<%= skin_condition['id'] %>/edit">Edit</a>

        <form action="/skinlog/<%= skin_condition['id'] %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <%#_method is a special name sinatra understand if we wanna overwrite the post method to delete (in value) instead%>
        <button>DELETE</button>
        </form>
    <%end%>
<% end %>



 <a href="/skinlog/new">Add new skinlog</a>




<%if logged_in?%>
    <h3>Welcome to skin blog! <%= current_user()['first_name']%></h3>
    <form action="/" method="POST">
        <input type="hidden" name="_method" value="delete">
        <button>Logout</button>
    </form>
<%else%>
    <form action="/" method="POST">
    <label for="">Email</label>
    <input type="email" name="email">

    <label for="">Password</label>
    <input type="password" name="password">

    <button>Login</button>
    </form>

    <a href="/signup/new">Signup</a>

<%end%>